# Archivos y carpetas generados por AWS SAM
.aws-sam/
samconfig.toml

# Configuración de IDEs/editores
*.suo
*.user
*.userosscache
*.sln.docstates
.vscode/
omnisharp.json

# Archivos de build o compilación
bin/
obj/
debug/
release/

# Archivos y carpetas específicos de tests
test/bin/
test/obj/

# Archivos de sistema
.DS_Store
Thumbs.db
desktop.ini

# Logs y caché
*.log
*.cache
*.tmp

# Plantilla de Python (si estás usando Python en Flask o algún otro componente del proyecto)
__pycache__/
*.py[cod]

# Configuración de Node.js (si tienes dependencias npm en el proyecto)
node_modules/
package-lock.json


# Configuración de JetBrains (Rider, IntelliJ, etc.)
.idea/